#container {
	display: flex;
	flex-direction: column;
	margin-left: 15%;
	margin-right: 15%;
}

header h1 {
    float: left;
}

header nav {
	float: right; text-align: right;
	padding: 6px 0 0 0;
}

header nav ul {
    list-style: none;
    margin-top: 85px;

}

header nav li {
    float: left;
    font-size: 23px;
    width: 133px;
    margin: 0px 15px 0px 38px;
}

nav {
	margin-top: -175px;
}

a:link, a:visited, #title {
    text-decoration: none;
    color: #4eaf4c;

}

#logo {
	width: 30%;
}

body {
	font-family: "M PLUS 1p";
    font-size: 22px;
    font-weight: 300;
}

.grid-container {
  display: grid;
  /*grid-column-gap: 50px;*/
  grid-template-columns: auto auto;
 /* background-color: #2196F3;*/
  /*padding: 10px;*/
}

.heading {
  color: black;
  font-size: 70px;
  font-weight: 300;
}

#item1 {
	width: 71%;
}

#item2 {
   margin-left: -133px;
    padding: 0px 0px 0px 67px;
    margin-top: -73px;
}

#item4 {
	    margin-left: 130px;
    padding: 0px 0px 0px 67px;
    margin-top: -73px;
    width: 71%;
    float: right;
    /* display: flex; */
    text-align: right;
}
}

#item3 {
       margin-left: -89px;
    padding: 0px 0px 0px 67px;
    margin-top: -73px;
}

#oatmeal_icon {
	 width: 120%;
    margin-left: -18px;

}

#oatmeal1 {
     width: 103%;
    /*margin-left: -18px;*/
}

#ingredients {
	font-weight: 400;
}

p{
	font-weight: 300;
	font-size: 20px;
}

.primarybutton {
	background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 17px;
  font-weight: 400;
  font-family: "M PLUS 1p";
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 50px;

}
#grid-item-layer2-1 {
	margin-top: -45px;
	line-height: 1.8;
}

#grid-item-layer2-2 {
	padding-top: 118px;
	line-height: 1.8;

}

#container2 {
	/*margin-top: 90px;*/
	padding-top: 150px;
}

#copyright {
	padding-top: 40px;
	clear: left;
    text-align: center;
    position: relative;
    bottom: 0;
    object-fit: scale-down;
    width: 100%;
    font-size: 17px;
}

hr {
	margin-top: 70px;
}